.card {
  display: flex;
  justify-self: center;
  background-color: antiquewhite;
  width: 50%;
  /* text-align: center; */
  margin: 50px;
}

body{
  background-image: url("https: //t3.ftcdn.net/jpg/06/27/85/70/360_F_627857071_bREuJgK1MTU5YcTPTfgJPOYZ86F1l421.jpg");
}